fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.4
pydantic-settings==2.3.4
pymupdf==1.24.5
langchain-text-splitters==0.2.1
sentence-transformers==3.0.1
faiss-cpu==1.8.0
python-dotenv==1.0.1
requests==2.32.3
